# Server options
PORT=3007
NODE_ENV=development
COOKIE_SECRET=my-secret

# Health check
HEALTH_CHECK_ENABLED=false

# Throttler
THROTTLE_GLOBAL_TTL=10000
THROTTLE_GLOBAL_LIMIT=10

# Database (PostgreSQL, used by docker-compose)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app
POSTGRES_PORT=5432

# Prisma connection string
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/app
